.cards {
  border-bottom: 1px #21212166 solid;
  padding-top: 20px;
  padding-bottom: 40px;
}

.cards__section {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.cards__items {
  max-width: 413px;
}

.cards__images {
  height: 413px;
  width: 100%;
  display: block;
  border-radius: 8px;
}
.cards__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-top: 12px;
}

.cards__description {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cards__like-button {
  border: none;
  background-color: #fcf5e5;
  height: 20px;
  padding: 0;
  margin: 0;
}
.cards__like-icon {
  width: 23px;
  height: 20px;
  opacity: 0.4;
}

.cards__like-icon:hover {
  opacity: 1;
}

@media (max-width: 631px) {
  .cards {
    width: 288px;
  }
  .cards__section {
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 20px;
  }

  .cards__images {
    height: 288px;
  }
}
