.cards {
  border-bottom: 1px #21212166 solid;
  padding-top: 20px;
  padding-bottom: 40px;
}

.cards__section {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

@media (max-width: 631px) {
  .cards {
    width: 288px;
    padding-bottom: 20px;
  }

  .cards__section {
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 20px;
  }
}
